* {
	list-style: none;
}

.title {
	background-color: lightGray;
	padding: 1em;
}



#part1  {
	background-color: lightBlue;
}

h3 {
	font-size: 1.25em;
}

.row {
	margin: .25em;
	padding: .25em;
}

#part2 {
	background-color: lightYellow;
}

#part3{
	background-color: lightPink;
}

img {
	max-width: 75%;
}

#part4 {
	background-color: lightGreen;


}

.references {
	background-color: lightGray;
}

#part5 {
	background-color: Orange;
}